[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "Android/volley"]
	path = Android/volley
	url = https://android.googlesource.com/platform/frameworks/volley
