<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bime.nocturne" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".NocturneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.StatusActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UserConnectRequestActivity"
            android:label="@string/title_activity_user_connect_request" >
        </activity>
        <activity
            android:name=".ui.ConnectToUserActivity"
            android:label="@string/title_activity_connect_to_user" >
        </activity>
        <activity
            android:name=".ui.UserRegistrationActivity"
            android:label="@string/title_activity_user_registration" >
        </activity>

        <provider
            android:name=".contentprovider.NocturneSensorReadingContentProvider"
            android:authorities="sensor"
            android:enabled="true"
            android:exported="true" >
        </provider>
        <provider
            android:name=".contentprovider.NocturneUserContentProvider"
            android:authorities="user"
            android:enabled="true"
            android:exported="true" >
        </provider>
        <provider
            android:name=".contentprovider.NocturneUserConnectContentProvider"
            android:authorities="user_connect"
            android:enabled="true"
            android:exported="true" >
        </provider>
    </application>

</manifest>
